In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!cd

C:\Users\elia8\Documents

## 서울시 역들의 행정동 정보 불러옴

In [3]:
ss = './seoul_subway.xls'

In [4]:
df_s = pd.read_excel(ss)

In [5]:
df_s

,서울교통공사 역 주소 현황(행정동 기준),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,번호,역 명,행정동(법정동)명,역 주소,우편번호
1,1,서울(1)역,회현동(봉래동2가),서울시 중구 봉래동2가 122,04509
2,2,시청(1)역,명동(태평로1가),서울시 중구 태평로1가 31,04519
3,3,종각(1)역,종로1.2.3.4가동(종로1가),서울시 종로구 종로1가 44,03161
4,4,종로3가(1)역,종로1.2.3.4가동(종로3가),서울시 종로구 종로3가 61-68,03139
...,...,...,...,...,...
276,276,남한산성입구(8)역,단대동(단대동),경기도 성남시 수정구 산성대로 지하446,13168
277,277,단대오거리(8)역,신흥2동(신흥동),경기도 성남시 수정구 산성대로 지하 365,13272
278,278,신흥(8)역,신흥3동(신흥동),경기도 성남시 수정구 산성대로 지하280,13353
279,279,수진(8)역,수진1동(수진동),경기도 성남시 수정구 산성대로 지하200,13337
280,280,모란(8)역,수진2동(수진동),경기도 성남시 수정구 산성대로 지하 100번지,13326

In [6]:
df_s.columns = ['a', 'station', 'dong', 'aa', 'aaa']

In [7]:
df_s['station'] = df_s.station.str.split('(').str[0]

In [9]:
df_s.drop(['a', 'aa', 'aaa'],axis='columns', inplace=True)

In [10]:
df_s

    station               dong
0       역 명          행정동(법정동)명
1        서울         회현동(봉래동2가)
2        시청          명동(태평로1가)
3        종각  종로1.2.3.4가동(종로1가)
4      종로3가  종로1.2.3.4가동(종로3가)
..      ...                ...
276  남한산성입구           단대동(단대동)
277   단대오거리          신흥2동(신흥동)
278      신흥          신흥3동(신흥동)
279      수진          수진1동(수진동)
280      모란          수진2동(수진동)

[281 rows x 2 columns]

## 2020 실거래데이터 불러와서 필요없는것들 드랍

In [11]:
df_2020 = pd.read_excel('./apt2020.xlsx')

In [12]:
df_2020

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,149500,4,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,144000,4,1987,언주로 3,NaN
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,162750,4,1987,언주로 3,NaN
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,160000,5,1987,언주로 3,NaN
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,150000,2,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84221,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),67.57,202008,7,26000,2,2003,동일로144길 74,NaN
84222,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,95.94,202007,10,44000,6,2007,봉화산로27가길 23,NaN
84223,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,202012,3,54800,5,2007,봉화산로27가길 23,NaN
84224,서울특별시 중랑구 중화동,2021-11-07 00:00:00,11.0,7.0,현대휴앤미(102동),77.71,202009,28,40000,5,2007,봉화산로27가길 19,20201027.0
84225,서울특별시 중랑구 중화동,2021-11-07 00:00:00,11.0,7.0,현대휴앤미(102동),77.71,202009,28,40000,5,2007,봉화산로27가길 19,NaN

In [13]:
df_2020.columns = ['sigudong', 'a', 'aa', 'aaa', 'apart_name','square', 'YYYYMM', 'DD', 'cost', 'floor', 'blit_year', 'st_a', 'aaaa']

In [14]:
df_2020

,sigudong,a,aa,aaa,apart_name,square,YYYYMM,DD,cost,floor,blit_year,st_a,aaaa
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,149500,4,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,144000,4,1987,언주로 3,NaN
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,162750,4,1987,언주로 3,NaN
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,160000,5,1987,언주로 3,NaN
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,150000,2,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84221,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),67.57,202008,7,26000,2,2003,동일로144길 74,NaN
84222,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,95.94,202007,10,44000,6,2007,봉화산로27가길 23,NaN
84223,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,202012,3,54800,5,2007,봉화산로27가길 23,NaN
84224,서울특별시 중랑구 중화동,2021-11-07 00:00:00,11.0,7.0,현대휴앤미(102동),77.71,202009,28,40000,5,2007,봉화산로27가길 19,20201027.0
84225,서울특별시 중랑구 중화동,2021-11-07 00:00:00,11.0,7.0,현대휴앤미(102동),77.71,202009,28,40000,5,2007,봉화산로27가길 19,NaN

In [15]:
df_2020['sigudong'] = df_2020.sigudong.str.split(' ').str[2]

In [16]:
df_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  281 non-null    object
 1   dong     281 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB

In [17]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84226 entries, 0 to 84225
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sigudong    84226 non-null  object
 1   a           84203 non-null  object
 2   aa          84215 non-null  float64
 3   aaa         84215 non-null  float64
 4   apart_name  84226 non-null  object
 5   square      84226 non-null  float64
 6   YYYYMM      84226 non-null  int64
 7   DD          84226 non-null  int64
 8   cost        84226 non-null  int64
 9   floor       84226 non-null  int64
 10  blit_year   84226 non-null  int64
 11  st_a        84226 non-null  object
 12  aaaa        3038 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 8.4+ MB

In [18]:
df_2020['sigudong']= df_2020['sigudong'].astype('object')

In [19]:
df_s[df_s['dong'].str.contains('개포동')]

   station       dong
89      대청  개포1동(개포동)

In [20]:
df_2020[df_2020['sigudong'].str.contains('개포동')]

,sigudong,a,aa,aaa,apart_name,square,YYYYMM,DD,cost,floor,blit_year,st_a,aaaa
0,개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,149500,4,1988,언주로 103,NaN
1,개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,144000,4,1987,언주로 3,NaN
2,개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,162750,4,1987,언주로 3,NaN
3,개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,160000,5,1987,언주로 3,NaN
4,개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,150000,2,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,개포동,654,654.0,0.0,현대2,165.08,202012,9,298000,9,1986,언주로 107,NaN
433,개포동,654,654.0,0.0,현대2,165.08,202012,21,300000,4,1986,언주로 107,NaN
434,개포동,177,177.0,0.0,현대3,163.85,202011,7,300000,2,1986,개포로 409,NaN
435,개포동,177,177.0,0.0,현대3,131.83,202012,16,157000,3,1986,개포로 409,NaN
436,개포동,177,177.0,0.0,현대3,131.83,202012,16,157000,3,1986,개포로 409,20201218.0

In [21]:
dong=df_2020['sigudong'].unique()
dong

array(['개포동', '논현동', '대치동', '도곡동', '삼성동', '세곡동', '수서동', '신사동', '압구정동',
       '역삼동', '율현동', '일원동', '자곡동', '청담동', '강일동', '고덕동', '길동', '둔촌동',
       '명일동', '상일동', '성내동', '암사동', '천호동', '미아동', '번동', '수유동', '우이동',
       '가양동', '공항동', '내발산동', '등촌동', '마곡동', '방화동', '염창동', '화곡동', '남현동',
       '봉천동', '신림동', '광장동', '구의동', '군자동', '능동', '자양동', '중곡동', '화양동',
       '가리봉동', '개봉동', '고척동', '구로동', '궁동', '신도림동', '오류동', '온수동', '천왕동',
       '항동', '가산동', '독산동', '시흥동', '공릉동', '상계동', '월계동', '중계동', '하계동',
       '도봉동', '방학동', '쌍문동', '창동', '답십리동', '신설동', '용두동', '이문동', '장안동',
       '전농동', '제기동', '청량리동', '회기동', '휘경동', '노량진동', '대방동', '동작동', '본동',
       '사당동', '상도1동', '상도동', '신대방동', '흑석동', '공덕동', '노고산동', '대흥동', '도화동',
       '동교동', '마포동', '망원동', '상수동', '상암동', '서교동', '성산동', '신공덕동', '신수동',
       '신정동', '아현동', '연남동', '염리동', '용강동', '중동', '창전동', '토정동', '하중동',
       '합정동', '현석동', '남가좌동', '냉천동', '대현동', '북가좌동', '북아현동', '연희동', '영천동',
       '창천동', '천연동', '충정로2가', '충정로3가', '합동', '현저동', '홍은동', '홍제동', '내곡동',
       '반포동', '방배동', '서초동', '신원동', '양재동', '우면동', '잠원동', '금호동1가', '금호동2가',
       '금호동3가', '금호동4가', '도선동', '마장동', '사근동', '상왕십리동', '성수동1가', '성수동2가',
       '송정동', '옥수동', '용답동', '응봉동', '하왕십리동', '행당동', '홍익동', '길음동', '돈암동',
       '동선동1가', '동선동3가', '동선동4가', '동소문동4가', '동소문동5가', '동소문동6가', '동소문동7가',
       '보문동2가', '보문동3가', '보문동4가', '보문동6가', '삼선동2가', '삼선동3가', '삼선동4가',
       '상월곡동', '석관동', '성북동', '성북동1가', '안암동1가', '안암동3가', '안암동4가', '장위동',
       '정릉동', '종암동', '하월곡동', '가락동', '거여동', '마천동', '문정동', '방이동', '삼전동',
       '석촌동', '송파동', '신천동', '오금동', '잠실동', '장지동', '풍납동', '목동', '신월동',
       '당산동', '당산동1가', '당산동2가', '당산동3가', '당산동4가', '당산동5가', '당산동6가', '대림동',
       '도림동', '문래동2가', '문래동3가', '문래동4가', '문래동5가', '문래동6가', '신길동', '양평동1가',
       '양평동2가', '양평동3가', '양평동4가', '양평동5가', '양평동6가', '여의도동', '영등포동',
       '영등포동1가', '영등포동2가', '영등포동3가', '영등포동4가', '영등포동5가', '영등포동7가',
       '영등포동8가', '갈월동', '도원동', '동빙고동', '동자동', '문배동', '보광동', '산천동', '서빙고동',
       '신계동', '신창동', '용문동', '용산동2가', '용산동5가', '원효로1가', '원효로2가', '원효로3가',
       '원효로4가', '이촌동', '이태원동', '청암동', '청파동1가', '청파동3가', '한강로1가', '한강로2가',
       '한강로3가', '한남동', '효창동', '후암동', '갈현동', '구산동', '녹번동', '대조동', '불광동',
       '수색동', '역촌동', '응암동', '증산동', '진관동', '견지동', '교북동', '구기동', '내수동',
       '당주동', '동숭동', '명륜1가', '명륜2가', '명륜3가', '무악동', '부암동', '사직동', '숭인동',
       '신교동', '신문로1가', '신문로2가', '신영동', '연건동', '연지동', '원남동', '익선동', '인의동',
       '창신동', '청운동', '충신동', '평동', '평창동', '필운동', '행촌동', '혜화동', '홍파동',
       '효제동', '남대문로5가', '남산동2가', '만리동1가', '만리동2가', '묵정동', '산림동', '순화동',
       '신당동', '예장동', '오장동', '을지로5가', '인현동2가', '장충동1가', '장충동2가', '정동',
       '중림동', '충무로4가', '충무로5가', '필동1가', '필동3가', '황학동', '회현동1가', '회현동2가',
       '흥인동', '망우동', '면목동', '묵동', '상봉동', '신내동', '중화동'], dtype=object)

In [22]:
df_2020['sigudong'].value_counts()

상계동      3658
중계동      2048
구로동      2013
창동       1720
봉천동      1496
         ...
연지동         1
신문로1가       1
신교동         1
능동          1
갈월동         1
Name: sigudong, Length: 322, dtype: int64

In [ ]:
df_s[df_s['dong'].str.contains('상계동')]
#상계동 역 5개
df_s[df_s['dong'].str.contains('중계동')]
#중계동 역 1개
df_s[df_s['dong'].str.contains('구로동')]
#구로동 역 3개
df_s[df_s['dong'].str.contains('창동')]
#창동 역 2개
df_s[df_s['dong'].str.contains('봉천동')]
#봉천동 역 3개

In [23]:
df_s[df_s['dong'].str.contains('상계동')]

    station         dong
95      당고개  상계3.4동(상계동)
96       상계    상계5동(상계동)
97       노원    상계2동(상계동)
215     수락산    상계1동(상계동)
216      마들    상계1동(상계동)
217      노원    상계1동(상계동)

In [24]:
df_s[df_s['dong'].str.contains('봉천동')].count()

station    3
dong       3
dtype: int64